@model KeyRequest.ViewModels.KeyForm

<tr>
    @Html.HiddenFor(x => Model.RoomFormID)
    <td>
        <p class="form-control-static">
            @Html.DisplayFor(x => Model.Tag)
        </p>
    </td>
</tr>