@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Example .NET MVC Project</h2>
        <p>This project implements a simple business form to illustrate .NET MVC techniques.  Scenario is for an online form for employees requesting 
           keys for their respective offices.  Users can select one or more rooms and the number of sets of keys (a room may have several keys) they need.
           Forms for managing the rooms are also supplied.
        </p>

        <p>This project makes use of Microsoft's Entity Framework and Twitter Bootstrap technologies.</p>
    </div>
</div>